<div id="templatemo_top_wrapper">
    <div id="templatemo_top">
      <div id="templatemo_menu">
        <ul>
          <li> <%= link_to "Home",home_path,class:"current"%> </li>
          <li> <%= link_to "Contact us",contact_path%> </li>
          <li> <%= link_to "Help",help_path%></li>
          <li> <%= link_to "About",'#'%> </li>
        </ul>
      </div>
      <div id="log">
        <%= link_to "Login",'#'%> <br>
        <%= link_to "Signup",signup_path%> 
      </div>
    </div>
</div>
<div id="templatemo_header_wrapper">
    <div id="templatemo_header">
      <div id="site_title">
        <h1><strong>Cùng học tiếng nhật</strong></a></h1>
      </div>
    </div>
  </div>